
@{
    ViewBag.Title = "Index";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Welcome To MVC.</p>
    </div>
</div>